.form {
    background-color: #B0C4DE
}

.btn-cl {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    border-radius: 5px;
    font-size: 20px;
    padding: 7px 18px;
}

.layer {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #B0C4DE;
    transform: translate(-50%, -50%)
}

.id {
    font-size: 120%
}

.pw {
    font-size: 120%
}

.name {
    font-size: 120%
}

.jop {
    font-size: 100%
}

